@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*body {
  margin: 0;
  padding: 0;
}

.App {
  @apply bg-gradient-to-b from-gray-950 via-black to-gray-950/90 text-white min-h-screen w-screen
}

@layer base {
  html {
    font-family: 'Anton', sans-serif;

  }

  #header {
    font-family: 'Space Grotesk', sans-serif;
  }
}
.menu-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-closed {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
