@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*body {
  margin: 0;
  padding: 0;
}


.App {
  @apply bg-gradient-to-b from-gray-950 via-black to-gray-950/90 text-white min-h-screen w-screen
}

@layer base {
  html {
    font-family: 'League Spartan', sans-serif;
  }

  #header {
    font-family: 'Space Grotesk', sans-serif;
  }
}